{{ "<!-- Banner -->" | safeHTML}}
    {{ if not hugo.IsProduction }}
    <section class="minor">
      <div class="inner" style="padding: 1em 0 1em 0;margin:0;max-width: 25em;">
        <ul class="label" style="background-color: white; color: black">
          <li>version: {{ .version }} </li>
          <li>HUGO_ENV: {{ getenv "HUGO_ENV" }}</li>
          <li>IsProduction: {{ hugo.IsProduction }}</li>
          <li>HUGO_GIT_COMMIT: {{ getenv "HUGO_GIT_COMMIT" }}</li>
        </ul>
      </div>
    </section>
    {{ end }}
    
    <section id="banner" class="major">
        <div class="inner">
            <header class="major">
                <h1>{{ .title }}</h1>
            </header>
            <div class="content">
                <p>{{ .subtitle }}</p>
                <ul class="actions">
                    <li><a href="#one" class="button next scrolly">{{ .buttonText }}</a></li>
                </ul>
            </div>
        </div>
    </section>
